<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edita</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="header :: header"></div>
<div th:if="${error}" th:text="${error}"></div>


<h1>Editar Entrada</h1>


<form th:action="@{/edit/{id}(id=${entry.getId()})}" method="post">
    <textarea name="text" cols="30" rows="10">[[${entry.text}]]</textarea>
    <input type="submit" value="Desa">
</form>

<form th:action="@{/delete/{id}(id=${entry.id})}" method="post">
    <button type="submit">Eliminar Entrada</button>
</form>

</body>
</html>